

/* alles pagina*/

body{           /* aanpassingen doen in de body*/
    background-color: antiquewhite;
}

main{
    width: 100%;
    margin-top: 50px;
    float: left;
    height: fit-content;
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
    
}

h1 {            /* de h1 zelf aanpassen*/
    display: flex;
    justify-content: center;
    padding: 50px;
}

h2{
    padding-top: 5vh;
}

h3{
    padding-top: 3vh;
}


.head{
    display: flex;
    list-style-type: none;
    margin: -10px;
    padding: 40px;
    justify-content: space-evenly;
    background-color: #f0f0f0;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
}



.head a{
    text-decoration: none;  /*de lijnen weg halen van de ancurs*/
    color: black;
    font-size: larger;

}

.head li a:hover{
    padding: 10px 20px;
    font-size: 25px;
    color:red;
    
}
 
.head li a:active {
    
    color:darkred;
    padding: 10px 20px;
    margin: 10px;
} 













/*eng alles pagina*/  








/* home pagina*/

.introductie h2{
    display: flex;
    justify-content: center;
   

}




.overzicht h2 {
    display: flex;
    justify-content: center;
    
}


.body1{
    margin-left: 150px;
    margin-right: 150px;

}

.ibiza img{
    width: 80%;
    height: auto;
   border-radius: 10px;
}

.ibiza{
    padding-top: 5vh;
}













/*eng home pagina*/







/* werk pagina*/

.body2{
    margin-left: 150px;
    margin-right: 150px;
}

.categorieen h2{
    
}



/*eng werk pagina*/









/* about me pagina*/
.body3{
    margin-left: 150px;
    margin-right: 150px;

}

.sunset img{
    width: 80%;
    height: auto;
}




/*eng about me pagina*/







/* contact pagina*/

.social{
    list-style-type: none; /* de bullet points weg halen*/
    display: flex;  /* flex box gebruiken voor columen*/
    flex-direction: column;
    align-items: start;
    
}

.social li{
    padding: 10px;
    
}

.social a{
    color: black;
}

.social-media h2{
    display: flex;
    justify-content:start ;
    padding-left: 50px;
}



.contact{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.contact li{
    border: 1px solid;
    padding: 10px;
    
}

.contact h2 {
    display: flex;
    justify-content:start ;
    padding-left: 50px;
    padding-top: 50px;
}

.input-field{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 0;
    border: 1px solid blue;
    border-radius: 14px;
    outline: none;
    display: block;
}

.input-field-textarea{
    width: 300px;
    height: 200px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 0;
    border: 1px solid blue;
    border-radius: 14px;
    outline: none;
    display: block;
    
}

.textarea ::placeholder{
    display: flex;
    align-items: flex-start;
}

.btnsubmit{
    border-radius: 20px;
    color: white;
    margin-top: 18px;
    padding: 10px;
    background-color: blue;
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 25%;
}









/*eng contact pagina*/















