
h1,h2,h3,h4,h5,h6{
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight: bold;

}

.images-1{
    
    display: flex;
    justify-content: space-evenly; 
}

img{
    width: 200px;
    height: auto;
    
    
}


body{
    background-color: antiquewhite;
}

h1 {
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

 ul{
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0%;
   justify-content: space-evenly;
    
}

li:hover{
    padding: 10px 20px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

li:active {
    background-color: darkgreen;
}










